# gatsby files
.cache
public
node_modules

yarn-error.log
.editorconfig
.env
**/.DS_Store

# uxp api reference
# reference-css.js
# reference-js.js
# reference-html.js
# reference-spectrum.js
# src/pages/uxp/*