---
name: Deployment
on:
  workflow_dispatch:
    inputs:
      env:
        description: "Deploy to (dev|prod|dev prod)"
        required: true
        default: "dev"
      clean:
        description: "Clean cache"
        required: true
        type: boolean
        default: false
      excludeSubfolder:
        description: "Exclude a subfolder from deletion"
        required: false
        default: "2021, 2023"
      index-mode:
        description: 'Type of indexing. "index" to push to Algolia, "console" for dry run.'
        required: true
        default: "index"
        type: choice
        options:
          - console
          - index
jobs:
  deployment:
    name: Deployment
    uses: AdobeDocs/adp-devsite-workflow/.github/workflows/gatsby-deploy.yml@main
    secrets: inherit
    with:
      env: ${{ inputs.env }}
      clean: ${{ inputs.clean }}
      excludeSubfolder: ${{ inputs.excludeSubfolder }}
      index-mode: ${{ inputs.index-mode }}
      NODE_OPTIONS: "--max-old-space-size=8192"